# Packages
node_modules/

# Temp projects
scraper/units.csv
scraper/menu.csv
scraper/out/
scraper/cache/

# Assets which could be copyrighted, but keep folder structure
src/assets/img/vehicles/air/*
!src/assets/img/vehicles/air/.gitkeep

src/assets/img/vehicles/ships/*
!src/assets/img/vehicles/ships/.gitkeep

src/assets/img/vehicles/ground/*
!src/assets/img/vehicles/ground/.gitkeep

src/assets/img/avatars/*
!src/assets/img/avatars/.gitkeep

# War Thunder icons
src/assets/img/13px-Rp_icon.png
src/assets/img/19px-Ge_icon.png
src/assets/img/19px-Sl_icon.png

# Compiled and bundled Typescript
src/assets/js/*
!src/assets/js/.gitkeep

# Cache
.eslintcache
