# Packages
node_modules/
pnpm-lock.yaml

# Temp projects
scraper/units.csv
scraper/out/
scraper/cache/
scraper/go.sum

# Assets which could be copyrighted, but keep folder structure
src/assets/img/vehicles/*
!src/assets/img/vehicles/.gitkeep

src/assets/img/avatars/*
!src/assets/img/avatars/.gitkeep

# War Thunder icons
src/assets/img/13px-Rp_icon.png
src/assets/img/19px-Ge_icon.png
src/assets/img/19px-Sl_icon.png

# Compiled and bundled Typescript
src/assets/js/*
!src/assets/js/.gitkeep

# Cache
.eslintcache
