/* Warning: OBS is not compatible with CSS nesting */
body {
    /* Default OBS CSS rules */
    background-color: rgba(0 0 0 0);

    /* Remove top and bottom margin but horizontal center it */
    margin: 0 auto;

    /* Hide overflowing text */
    overflow: hidden;
}

:root {
    /* Brand color */
    --color-accent: #00A3A3;
    --color-accent-dark: #00c0c0;

    /* Blue style that seems fit nice */
    --color-idea: #004d99;

    /* Box background shadow color */
    --color-shadow: black;

    /* Text styling */
    --text-base-color: white;
    --text-normal-size: 1.3rem;
    --text-normal-weight: bolder;
    --font: "wtText";
    --text-spacing: 10px;

    /* Backgrounds and borders */
    --background-color: rgb(02 02 02 / 70%);
    --shadow: 0 0.5rem 15rem rgb(0 0 0 / 15%);
    --brand-border-width: 3px;

    /* original size 150px */
    --avatar-size: 125px;

    /* original size 512 * 256 px */
    /* Width below */
    --vehicle-size-combined: 100px;
    --vehicle-size-single: 128px;

    /* Default animation when activating component */
    --default-animation: fade-in 2s 1;
}

/* Special symbols for foreign vehicles like ▄M26 provided by wiki */
@font-face {
    font-family: wtSymbols;
    src: url("./fonts/symbols_skyquake.ttf");

    /* Gives the font face an extremely small block period and an infinite swap period. */
    font-display: swap;
}

/* Normal War Thunder text styling provided by wiki */
@font-face {
    font-family: wtText;
    src: url("./fonts/wt_font.ttf");

    font-display: swap;
}

/* War thunder icons */
@font-face {
    /* 0 = tank icon, . = fighter plane, : = bomber, 4-9 = various symbols */
    font-family: Icons;

    /* Extracted from War Thunder client webinterface */
    src: url("./fonts/icons.ttf");

    font-display: swap;
}

/* Kill notification overlay */
#notification {
    /* Max width that doesn't display over other elements a lot */
    max-width: 1200px;

    display: flex;
    /* Vertical align */
    align-items: center;

    /* By default hide it */
    opacity: 0;
}

/* Make the component visible and slide it in from below */
@keyframes slide-in {
    from {
        /* Make component visible and keep it at the end */
        opacity: 1;
        margin-top: 150px;
    }

    to {
        /* Without this the component would become invisible again */
        opacity: 1;
        margin-top: 0;
    }
}

/* Disappear animation */
@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Game profile avatar */
.avatar img {
    height: var(--avatar-size);
    width: var(--avatar-size);

    box-shadow: var(--shadow);

    /* Add brand accent border */
    border: var(--brand-border-width) solid var(--color-accent);
}

/* Smaller tank icon next to killer icon */
.tank img {
    /* Smaller variant next to the avatar */
    height: var(--vehicle-size-combined);
    width: calc(var(--vehicle-size-combined) * 2);
}

/* Notification text */
#title {
    font-size: 2rem;
    font-weight: var(--text-normal-weight);
    font-family: var(--font);

    /* Horizontal align */
    text-align: center;

    /* Explicitly enable anti aliasing */
    -webkit-font-smoothing: antialiased;
    color: var(--text-base-color);

    /* format: horizontal vertical blur color */
    /* Text border around chars */
    text-shadow: 2px 0 black,
        -2px 0 black,
        0 2px black,
        0 -2px black,
        1px 1px black,
        -1px -1px black,
        1px -1px black,
        -1px 1px black;

    /* Enlarage component based on need */
    flex-grow: 1;

    /* Add left-right margin automatically to be centered */
    margin: auto;
}

/* Title children */
#title span {
    /* Disable inherited flex layout and display items below each other */
    display: block;
}

/* Ammunition image */
#title #ammunition {
    /* original size: 3107x414 */
    height: 48px;
    width: 360px;

    /* hide by default */
    opacity: 0;
}

/* Firing smoke video */
#smoke {
    /* Requires absolute positioning to be displayed as background without affecting other layouts */
    position: absolute;

    /* video size */
    --video-height: 200px;
    height: var(--video-height);

    /* position */
    --smoke-start-x: 50px;
    /* Shortly after the tank icon that means after avatar with border and the vehicle width */
    left: calc(var(--avatar-size) + var(--brand-border-width) + var(--vehicle-size-combined) * 2 - var(--smoke-start-x));

    /* Same position as the tank icon that is centered from the bigger avatar
    -> getting top and bottom margin of the tank icon to the avatar and divide by 2 to remove the bottom margin */
    top: calc(0px - (var(--avatar-size) - var(--vehicle-size-combined)) / 2);
}

/* shot animation to slide from left to right */
@keyframes slide-right {
    from {
        /* Do not hide it fully, because it causes a pop effect, but show it like it would appearing to the eye */
        opacity: 0.4;
        /* Start from left side */
        margin-right: 50%;
    }

    to {
        opacity: 1;
        /* move it only slightly above center to not go over the tank */
        margin-right: 0;
        margin-left: 70%;
    }
}

/* Game name formatting */
#killer-name,
#killed-name {
    /* Darker brand color variant */
    color: var(--color-accent-dark);
}

/* Right side slightly enlarged */
.tank-single {
    /* Allows the use of z-index */
    display: flex;

    /* Display ammunition under the tank */
    z-index: 42;
}

.tank-single img {
    /* Similar size as the avatar for the left side */
    height: var(--vehicle-size-single);
    width: calc(var(--vehicle-size-single) * 2);
}

/* Game summary overlay */
#summary {
    background-color: var(--background-color);
    box-shadow: var(--shadow);

    width: 200px;

    color: var(--text-base-color);

    /* Brand border */
    border-width: var(--brand-border-width);
    border-color: var(--color-accent);

    /* ignore right border */
    border-style: solid none solid solid;

    /* Appear animation when enabled */
    animation: var(--default-animation);
}

/* Title of the summary */
#summary h1 {
    text-align: center;
}

/* List item */
#summary .line {
    display: flex;

    /* Verticaly align icons */
    align-items: center;
}

/* Line icons */
#summary .line img {
    /* original size 19px*20px or 13*19px */
    height: 25px;
}

/* Line icon container */
#summary .line div {
    /* Icon container width */
    width: 30px;

    /* Space to right text */
    padding-left: var(--text-spacing);
    padding-right: var(--text-spacing);
}

/* Symbolic title icon for that line */
#summary .line-icon {
    /* Horizontal align */
    text-align: center;
}

/* Values */
#summary .line p {
    flex-grow: 1;

    font-weight: var(--text-normal-weight);
    font-size: var(--text-normal-size);
}

/* Appear animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Squad overlay */
#team {
    box-shadow: var(--shadow);

    color: var(--text-base-color);

    /* Brand border */
    border-width: var(--brand-border-width);
    border-color: var(--color-accent);
    /* except left border */
    border-style: solid solid solid none;

    /* Appear animation when enabled */
    animation: var(--default-animation);
}

/* One team member each line */
#team .line {
    background-color: var(--background-color);

    display: flex;

    /* Vertical align icons and text */
    align-items: center;

    /* Line spacing between elements */
    margin-top: 5px;
}

#team .line:nth-child(1) {
    /* Do not enable padding between div border and first element */
    margin-top: 0;
}

/* Left team avatar icon */
#team .line-icon {
    /* Avatar size: original 150px */
    --icon-size: 64px;

    width: var(--icon-size);
    height: var(--icon-size);

    /* Space to right text */
    margin-right: var(--text-spacing);
    /* Horizontal align */
    text-align: center;
}

/* Team member name and stats */
#team .line p {
    flex-grow: 1;

    font-weight: var(--text-normal-weight);
    font-size: var(--text-normal-size);
}

/* Textual icons for in text styling */
.icons {
    /* It's our own font, there is no generic one */
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: Icons;
    font-size: calc(var(--text-normal-size) + 0.5rem);
}
